<template>
  <div>
    <left-menu :module-id="childModuleId" />
    <div style="margin-left: 15%">
      <nav class="navbar navbar-dark justify-content-between">
        <a class="navbar-brand" />
        <span class="title">
          logged as {{ userData.user.username }}
        </span>
        <form class="form-inline">
          <a href="/logout">
            <font-awesome-icon icon="power-off" style="color: #007bff" />
          </a>
        </form>
      </nav>

      <slot name="main-content" />
      <div style="margin-top: 70vh;text-align: center">
        ©{{ new Date().getFullYear() }}
      </div>
    </div>
  </div>
</template>

<script>
    import "bootstrap/dist/css/bootstrap.min.css";
    import UserStore from './user/UserStore'
    import {vappApi} from "../api"
    import LeftMenu from "./LeftMenu";
    export default {
        name: "BaseContent",
        components: {
            LeftMenu
        },
        props: {
            childModuleId: {
                type: String,
                default: null
            }
        },
        data: function () {
            return {
                userData: UserStore.data
            }
        },
        mounted: function () {
            console.log(this.userData);
            this.init();
        },
        methods: {
            init() {
                if (!this.userData.user.id) {
                    console.log("User not found");
                    vappApi.get(`/current-user`)
                        .then(response => {
                          //console.log(response);
                          this.userData.user = response.data;

                        })
                        .catch(e => {
                            this.errors.push(e);
                        })
                } else {
                    console.log("Using existing data");
                }
            }
        }
    }
</script>

<style>

</style>