<template>
  <div>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-4" />
        <div class="col-md-5 login-form-1">
          <h3>Change Password </h3>
          <div class="form-group">
&nbsp;
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Current Password *" v-model="currentPassword"
                   name="txtCurrentPassword"
            >
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password *" v-model="newPassword"
                   name="txtNewPassword" 
            >
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Re-Type Password *" value=""
                   name="txtReTypedPassword"
            >
          </div>
          <div class="form-group">
&nbsp;
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary btn-block" @click="changePassword">
                  Change Password
                </button>
              </div>
              <div class="col-6">
                <form method="post" action="/logout">
                  <button type="submit" class="btn btn-secondary btn-block">
                    Cancel
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <PopUpInfo v-if="showPopUpInfo" :redirect-u-r-l="redirectURL" :popup-header="'Change Password'" :popup-content="popupContent" />
  </div>
</template>

<script>
    import "bootstrap/dist/css/bootstrap.min.css"
    import {servApi,vappApi} from "../api";
    import PopUpInfo from "../popup/PopUpInfo";

    export default {
        name: "ChangePassword",
        mounted:function (){
            this.init();
        },
        components: {PopUpInfo},
        data: function () {
            return {
                currentPassword:null,
                newPassword:null,
                showPopUpInfo: false,
                redirectURL: "",
                popupContent: "",
                appUser: {}
            }
        },
        methods: {
            init(){
                vappApi.get(`/current-user`)
                    .then(response => {
                        //console.log(response);
                        this.appUser = response.data;

                    })
                    .catch(e => {
                       console.error(e)
                    })
            },
            changePassword() {

                this.appUser.newPassword = this.newPassword;
                servApi.post(`/v1/change-password`, {
                    appUser:this.appUser
                }).then((response) => {
                    this.appUser = response;
                    this.redirectURL = "/vapp/home";
                    this.popupContent = "Password changed successfully";
                }).catch(e => {
                    console.log(e);
                    this.redirectURL = "/app-login";
                    this.popupContent = "Error in change password \n\n" + e;
                }).finally(() => {
                    this.showPopUpInfo = true;
                });
            },
            logout(){
                this.$router.push("/logout");
            }
        }
    }
</script>

<style>
    .login-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .login-form-1 {
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form-1 h3 {
        text-align: center;
        color: #333;
    }

    .login-form-2 h3 {
        text-align: center;
        color: #fff;
    }

    .login-container form {
        padding: 10%;
    }

    .login-form-1 .btnSubmit {
        font-weight: 600;
        color: #fff;
        background-color: #0062cc;
    }

    .login-form-2 .btnSubmit {
        font-weight: 600;
        color: #0062cc;
        background-color: #fff;
    }

    .login-form-2 .ForgetPwd {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }

    .login-form-1 .ForgetPwd {
        color: #0062cc;
        font-weight: 600;
        text-decoration: none;
    }

</style>
