<template>
  <div>
    <LeftMenuV2 @click-left-menu="onClickLeftMenu" />
    <div style="margin-left: 15%">
      <nav class="navbar navbar-dark justify-content-between">
        <a class="navbar-brand" />
        <span class="title">
          logged as {{ userData.user.username }}
        </span>
        <form class="form-inline">
          <a href="/logout">
            <font-awesome-icon icon="power-off" style="color: #007bff" />
          </a>
        </form>
      </nav>

      <home v-if="displayComponent('home')" />
      <view-users v-if="displayComponent('view-users')" />
    </div>
  </div>
</template>

<script>
  import LeftMenuV2 from "./LeftMenuV2";
  import ViewUsers from "./user/ViewUsers";
  import UserStore from './user/UserStore';
  import {vappApi} from "../api"
  import Home from "./Home";

  export default {
    name: "Dashboard",
    components: {Home, ViewUsers, LeftMenuV2},
    data: function () {
      return {
        currentComponentId: null,
        userData: UserStore.data
      }
    },
    mounted: function () {
      this.init();
    },
    methods: {
      init() {
        if (!this.userData.user.id) {
          console.log("User not found");
          vappApi.get(`/current-user`)
                  .then(response => {
                    //console.log(response);
                    this.userData.user = response.data;

                  })
                  .catch(e => {
                    this.errors.push(e);
                  })
        } else {
          console.log("Using existing data");
        }
      },
      displayComponent(id) {
        if (id === this.currentComponentId) {
          return true;
        } else {
          return false;
        }
      },
      onClickLeftMenu: function (id) {
        this.currentComponentId = id;
      }
    }
  }
</script>

<style>

</style>