<template>
  <div id="divHome">
    <p style="margin-left: 2%">
      hii rerr
    </p>
  </div>
</template>

<script>
    export default {
        name: "Home",
        components: {},
        mounted:function() {
          console.log('route',this.$route);
    
        }
    }
</script>

<style>

</style>