<template>
  <div class="nav flex-column nav-pills" id="v-pills-tab"
       style="float:left;"
  >
    <a class="nav-link" href="#" id="linkHome" :class="activateModule('home')" @click="clickMenu('home')">
      Home
    </a>
    <a class="nav-link" href="#" id="v-pills-profile-tab" :class="activateModule('v-pills-profile-tab')">
      Profile
    </a>
    <a class="nav-link" href="#" id="v-pills-role-tab" :class="activateModule('v-pills-role-tab')">
      Role
    </a>
    <a class="nav-link" href="#" id="linkUsers" :class="activateModule('view-users')" @click="clickMenu('view-users')">
      Users
    </a>
    <a class="nav-link" href="#" id="v-pills-settings-tab" :class="activateModule('v-pills-settings-tab')">
      Settings
    </a>
  </div>
</template>

<script>
    export default {
        name: "LeftMenuV2",
        data:function(){
          return {
            moduleId: null
          }
        },
        methods:{
          activateModule(id) {
            if (this.moduleId === id) {
              console.log("link id found");
              return 'active'
            } else {

              return ''
            }
          },
          clickMenu(id){
            this.moduleId = id;
            this.$emit('click-left-menu',id)
          }
        }
    }
</script>

<style>

    .flex-column{
        width: 15%;
    }
    .nav-link{
        padding-left: 13%;
    }
</style>