<template>
  <div class="nav flex-column nav-pills" id="v-pills-tab"
       style="float:left;"
  >
    <a class="nav-link" id="linkHome" href="home" :class="activateModule('linkHome')">
      Home
    </a>
    <a class="nav-link" id="v-pills-profile-tab" href="#v-pills-profile" :class="activateModule('v-pills-profile-tab')">
      Profile
    </a>
    <a class="nav-link" id="linkUsers" href="view-users" :class="activateModule('linkUsers')">
      Users
    </a>
    <a class="nav-link" id="v-pills-settings-tab" href="#v-pills-settings" :class="activateModule('v-pills-settings-tab')">
      Settings
    </a>
  </div>
</template>

<script>
    export default {
        name: "LeftMenu",
        props:{
          moduleId:{
            type: String,
            default: null
          }
        },
        methods:{
          activateModule(id) {
            if (this.moduleId === id){
              console.log("link id found");
              return 'active'}
            else{
    
              return ''}
          }
        }
    }
</script>

<style>

    .flex-column{
        width: 15%;
    }
    .nav-link{
        padding-left: 13%;
    }
</style>