<template>
  <div>
    <div class="modal-body">
      <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="txtUsername">
              Username
            </label>
            <input type="text" class="form-control" :class="isValid('txtUsername',appUser.username)" id="txtUsername" placeholder="First name" v-model="appUser.username">
            <div class="valid-feedback">
              Valid username!
            </div>
            <div class="invalid-feedback">
              Please enter a username.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="txtPassword">
              Password
            </label>
            <input type="text" class="form-control" :class="isValid('txtPassword',appUser.password)" id="txtPassword" placeholder="Last name" v-model="appUser.password">
            <div class="valid-feedback">
              Valid password!
            </div>
            <div class="invalid-feedback">
              Please enter a password.
            </div>
          </div>
          <!--<div class="col-md-4 mb-3">-->
          <!--<label for="validationServerUsername">-->
          <!--Username-->
          <!--</label>-->
          <!--<div class="input-group">-->
          <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text" id="inputGroupPrepend3">-->
          <!--@-->
          <!--</span>-->
          <!--</div>-->
          <!--<input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>-->
          <!--<div class="invalid-feedback">-->
          <!--Please choose a username.-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" @click="addUser">
        Add
      </button>
      <button class="btn btn-primary" @click="$emit('on-cancel-click')">
        Close
      </button>
    </div>
    <PopUpInfo v-if="showPopUpInfo" @on-close="showPopUpInfo = false" :popup-content="popupContent" />
  </div>
</template>

<script>
  import {servApi} from '../../api';
  import PopUpInfo from "../../popup/PopUpInfo";
  export default {
    name: "AddUser",
    components: {PopUpInfo},
    mounted(){
      console.log('mounted ')
    },
    data: function () {
      return {
        appUser: {},
        fieldErrors: new Map(),
        tempVariable : '',
        showPopUpInfo: false,
        popupContent:''
      }
    },
    methods: {
      isValid:function(key,value) {
        let sty = value ? 'is-valid' : 'is-invalid';
        if(!value){
          this.fieldErrors.set(key,"");
        }else{
          this.fieldErrors.delete(key);
        }
        return sty;
      },
      addUser() {
        if(this.fieldErrors.size>0){
          console.error("validation error");
          return;
        }else{
          this.appUser.authorities=[{id:1}];

          servApi.post(`/v1/user`, {
            appUser:this.appUser
          }).then(() => {
            this.appUser = {};
            this.popupContent = "User added successfully";
          }).catch((e) => {
            console.error(JSON.stringify(e));
            if(e.response)
              this.popupContent = "Error in user add " + e.response.data.message;
            else
              this.popupContent = "Try again later";
          }).finally(() => {
            this.showPopUpInfo = true;
            this.$emit('init-parent');
          });
        }
      },

      validate(value,key){
        let sty = value ? 'is-valid' : 'is-invalid';
        this.fieldErrors.set(key,sty) ;
        this.tempVariable = 'is-valid';
      }
    }
  }
</script>

<style>

</style>