<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <nav class="navbar navbar-light bg-primary">
              <h5 class="modal-title">
                {{ popupHeader }}
              </h5>
            </nav>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationServer01">
                      Username
                    </label>
                    <input type="text" class="form-control" :class="user.username ? 'is-valid':''" id="validationServer01" placeholder="First name" v-model="user.username" required>
                    <div v-if="user.username" class="valid-feedback">
                      Valid username!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationServer02">
                      Password
                    </label>
                    <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
                    <div class="valid-feedback">
                      Valid password!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationServerUsername">
                      Username
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend3">
                          @
                        </span>
                      </div>
                      <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary">
                Add
              </button>
              <button class="btn btn-primary" @click="$emit('on-cancel-click')">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
    export default {
        name: "PopUpAddUser",
        props: {
            redirectURL: {
                default: "",
                type: String
            },
            popupHeader: {
                default: "Add User",
                type: String
            },
            popupContent: {
                default: "Message",
                type: String
            }
        },
        data: function(){
          return {
              user:{}
          }
        },
        methods: {
            add(){

            }
        }
    }
</script>

<style>


    .modal-title {
        color: white;
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
