<template>
  <div id="divMain">
    <AddUser v-if="showUserEdit" @on-cancel-click="showUserEdit = false" @init-parent="init" />

    <div id="divViewUser" class="styTblUser">
      <button class="btn btn-primary" @click="showUserEdit = true">
        +
      </button>
      <br>
      <span>&nbsp;</span>
      <table id="tblUsers" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Enabled</th>
            <th />
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td> {{ user.username }}</td>
            <td>System Architect</td>
            <td>
              <div class="custom-control custom-switch" style="text-align: center">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1" />
              </div>
            </td>
            <td>
              <div style="text-align: center">
                <button class="btn btn-link">
                  Edit
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import {servApi} from "../../api";
  import AddUser from "./AddUser";
  export default {
    name: "ViewUsers",
    data: function(){
      return{
        users : [],
        showUserEdit:false
      }
    },
    components: {AddUser},
    mounted: function () {
      this.init();
    },
    methods: {
      init() {
        servApi.post(`/v1/users`,{})
                .then(response => {
                  //console.log(response);
                  this.users = response.data;

                })
                .catch(e => {
                  console.error(e);
                })
      },
      hidePopup(){
        this.showUserEdit = false;
      }
    }
  }
</script>

<style>
    .styTblUser {
        padding-right: 10%;
        padding-left: 10%;
    }

</style>