<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <nav class="navbar navbar-light bg-primary">
              <h5 class="modal-title">
                {{ popupHeader }}
              </h5>
            </nav>
            <div class="modal-body">
              <p>{{ popupContent }}</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" @click="redirect">
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
    export default {
        name: "PopUpInfo",
        props: {
            redirectURL: {
                default: null,
                type: String
            },
            popupHeader: {
                default: "Info",
                type: String
            },
            popupContent: {
                default: "Message",
                type: String
            }
        },
        methods: {
            redirect() {
                if(this.redirectURL)
                    this.$router.push(this.redirectURL);
                else
                    this.$emit('on-close');
            }
        }
    }
</script>

<style>


    .modal-title {
        color: white;
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
