<template>
  <div id="divLogin">
    <div class="container login-container">
      <div class="row">
        <div class="col-6" />
        <div class="col-md-6 login-form-2">
          <h3>Credentials</h3>
          <form action="app-login" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Username *" value=""
                     name="username" 
              >
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Your Password *" value=""
                     name="password"
              >
            </div>
            <div class="form-group">
              <input type="submit" class="btnSubmit" value="Login">
            </div>
            <div v-if="showError" class="invalid-feedback">
              Invalid username or password.
            </div>
            <div class="form-group">
              <a href="#" class="ForgetPwd" value="Login">
                Forget Password?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import "bootstrap/dist/css/bootstrap.min.css"

    export default {
        name: "Login",

        data: function () {
            return {
                showError: false
            }
        },
        mounted() {
            //console.log(this.$route.query.error);
            if (this.$route.query.error) {
                this.showError = true;
            } else {
                this.showError = false;
            }
        },

        methods: {
            loginError() {

            }
        }
    }
</script>

<style>
    .invalid-feedback {
        display: block;
        text-shadow: 2px 2px 4px red;
        color: white;
    }

    .login-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .login-form-1 {
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form-1 h3 {
        text-align: center;
        color: #333;
    }

    .login-form-2 {
        padding: 5%;
        background: #0062cc;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form-2 h3 {
        text-align: center;
        color: #fff;
    }

    .login-container form {
        padding: 10%;
    }

    .btnSubmit {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
    }

    .login-form-1 .btnSubmit {
        font-weight: 600;
        color: #fff;
        background-color: #0062cc;
    }

    .login-form-2 .btnSubmit {
        font-weight: 600;
        color: #0062cc;
        background-color: #fff;
    }

    .login-form-2 .ForgetPwd {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }

    .login-form-1 .ForgetPwd {
        color: #0062cc;
        font-weight: 600;
        text-decoration: none;
    }

</style>